.regions{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    margin-left: 5vh;
    margin-top: 5vh;
}

.independantes{
    margin: 5vw;
    font-size: 20px;
    text-align: center;
}