body{
    font-family: 'PT Sans Narrow', sans-serif;
}

img{
    height: 40%;
    width: 40%;
    justify-content: center;
}

h1{
    text-align: center;
}

h2{
   
}

.image{
    text-align: center;
}