.bloc1{ 
    background-image: url(/jeux/IMG/img_lab.png); 
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    width: 25vw;
    height: 90vh;
    
}
.bloc2{ 
    border-radius: 25px;
    width: 25vw;
    height: 90vh;
    background-color: #392F5A;
    
}
.bloc3{
    background-image: url(/jeux/IMG/img_TP.png); 
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    width: 25vw;
    height: 90vh;
}   

.titre_lab, .titre_TP, .titre_NI{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: 'PT Sans Narrow', sans-serif;
}

.titre_TP, .titre_NI{
    color: white;
}

.flex{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90%;
}
@media (hover: hover) {
    div.bloc1:hover {
      border-width:5px;
      width: 27vw;
      height: 92vh;
    }
    div.bloc2:hover {
        border-width:5px;
        width: 27vw;
        height: 92vh;
    }
    div.bloc3:hover {
        border-width:5px;
        width: 27vw;
        height: 92vh;
      }}
